{% extends "base.html" %}

{% block title %}Create Shopping List - Shopping List App{% endblock %}

{% block content %}
    <h2>Create New Shopping List for {{ household.name }}</h2>
    <form method="POST" action="{{ url_for('main.create_shopping_list', household_id=household.id) }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date() }}<br> {# DateField renders as type="date" #}
            {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
