{% extends "base.html" %}

{% block title %}Create Household - Shopping List App{% endblock %}

{% block content %}
    <h2>Create New Household</h2>
    <form method="POST" action="{{ url_for('main.create_household') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
